*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	line-height: 0;
	font-size: 0;
}

.body{
	
}

.para{
	font-size: 48px;
}

.styling{
	display: inline-block;
	width:50%;
	border: solid 5px blue;
	padding:5%;
}

