/* GENERAL APPEARANCE */
html, body, h1, form, fieldset, legend, ol, li {
	margin: 0;
	padding: 0;
}

h4 {
	font-size: 28px;
	margin-top: 50px ;
	margin-bottom: 10px ;
	text-align: center;
	font-family: Georgia;
  font-weight: bold;
}

body {
	background: #eeeeee;
	color: #111111;
	font-family: "Times New Roman", Times, serif;
	padding: 5%;
	font-size: 18px;
}

fieldset{
	background-color:#ffffff;
	padding:5%;
  margin: 20px;
}

form-group{
	margin: 10px;
}

legend {
	font-size: 24px;
	margin-top: 20px ;
	margin-bottom: 20px ;
	text-align: center;
	border: none;
	font-weight: bold;
}

label{
	display: inline-block;
	padding: .5%;
	font-weight: normal;
}

input{
	display: inline-block;
	padding: .5%;
}

input textarea select{
	padding: .5%;
}

#addDegree, #addWork {
	display: inline-block;
	padding: 1% 1%;
	margin-top: 10px;
	text-align: center;
	color: white;
	background: black;
	border-radius: 5%;

}

input[type=submit]  {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 1% 3%;
	margin-top: 10px;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase; /* Make letters uppercase */
	color: white;
	border-radius: 5%;
	background: #0099cc; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#005C97, #363795); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#005C97, #363795); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#005C97, #363795); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#005C97, #363795); /* Standard syntax */
}
